<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.myweb.home.Accounts.model.AccountsDTO" alias="acDto" />
		<typeAlias type="com.myweb.home.admin.model.BlackDTO" alias="blackDto" />
     	<typeAlias type="com.myweb.home.community.model.CommunityDTO" alias="communityDto" />
    	<typeAlias type="com.myweb.home.community.model.CommunityStaticsDTO" alias="communityStaticsDto" />
    	<typeAlias type="com.myweb.home.selitem.model.SelItemDTO" alias="selItemDto" />
    	<typeAlias type="com.myweb.home.selitem.model.SelItemCommentDTO" alias="selItemComDto" />
    	<typeAlias type="com.myweb.home.upload.model.FileUploadDTO" alias="fileUploadDto"/>
	</typeAliases>
	
	
</configuration>